.Board {
    position: relative;  
    margin: 2% auto;
    background-color: #ccc;
    background-image: linear-gradient(#333 1px, transparent 1px), linear-gradient(90deg, #333 1px, transparent 1px);
}
.Cell {
    position: absolute;
    background-color: #333;
}
.Cell:hover {
    background-color: yellow;
}

.Controls {
    margin: 20px, auto;
}

.Button {
    margin-left: 12px;
    border: none;
    padding: .5% 1%;
}
.Button:hover {
    outline-style: solid;
}